body{
  background-color: #262626;
  padding: 0;
  margin: 0;
}

.page-footer{
  background-color: #343434 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.brand-logo img, .left img {
  width: 100%;
  height: 40px !important;
}

.brand-logo {
  top: 0 !important;
}

nav {
  background: #262626 !important;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px !important;
  line-height: 40px !important;
}

nav ul li {
  width: 150px;
}

.left img {
  padding-right: 20px;
  padding-left: 20px;
}

.col .responsive-img{
  width: 50%;
  height: auto;
}